.contato-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto;
    padding: 1em;
}


.p-contato{
    width: 100%;
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 50px;
}



.telefone, .email{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.email svg, .telefone svg{
    font-size: 32px;
    color: brown;
    margin-right: 16px;
}


.titulo{
    font-weight: 600;
    font-size: 18px;
}


@media screen and (max-width:1000px){
    .p-contato{
        margin-left:50px;
    }

}



@media screen and (max-width:800px){
    .p-contato{
        margin-left: 40px;
    }
}

@media screen and (max-width:768px) {
    .p-contato{
        margin-left:6%;
    }



    .telefone{
        margin-bottom: 10px;
    }



}