.home_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    margin-top: 80px;
    color: white;
    border-radius: 20px;
}

.divcontainer {
    font-size: 26px;
    width: 70%;
    border-radius: 10px;
    text-align: start;
    gap: 2px;
    padding: 10px;
    box-shadow: 7px 7px 8px rgba(26, 133, 160, 0.3);

}

.dev {
    font-size: 2rem;
    font-weight: 600;
    flex-wrap: wrap;
    color: rgb(31, 163, 224);
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.p_segundo {
    font-size: 20px;
    border-radius: 10px;

    width: 100%;
    font-weight: 500;
    /* color: #7a7a7a; */
    margin-bottom: 20px;
    color: white;
}

.home_container img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
}

.sobre_mim {
    width: 40%;
    margin-right: 30px;
    background-color: rgb(253, 253, 253);
}

@media screen and (max-width:1000px) {
    .home_container {
        max-width: 900px;
    }

    .home_container img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:768px) {
    .home_container img {
        width: 220px;
        height: 220px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
    }

    .home_container {
        max-width: 600px;
        font-size: 2rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-top: 220px;

    }

    .home_container h1 {
        font-size: 32px;
    }

    .sobre_mim {
        width: 100%;
        margin-top: 160px;
    }

    .p_primeiro {
        margin-top: 2px;
    }

    .p_segundo {
        margin-bottom: 20px;
    }

    .scroll_down {
        display: none;
    }
    .dev{
        flex-wrap: wrap;
        font-size: 1.5rem;
    }
}