.habilidades_container{
  width: 850px;
  background: #fff;
  border-radius: 20px;
  padding: 25px 30px;
  box-shadow: 7px 7px 8px rgba(26, 133, 160, 0.9);
  margin: 0 auto;
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 60px;
  color: #fff;
  background-color: rgb(75, 103, 128);
}

.h1-tecnologias{
  margin-bottom: 40px;
  text-align: center;
  font-size: 3.2rem;
  color: rgb(75, 103, 128); ;
}

@media screen and (max-width:800px){
  .habilidades_container{
     width: 80%;
     font-size: 2rem;
  }
}



