.h1_sobre {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #fff;
}
.h1_sobre:hover{
    color: rgb(31, 163, 224);
    transition: 0.2s;
}
.sociais{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}

.sobreMim {
    max-width: 1300px;
    margin: 50px auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1em;
    padding-bottom:40px;
    border: 1px groove rgb(18, 101, 224);
}

.fotoPerfil {
    width: 50%;
    border-radius: 40px;
    width: 300px;
    height: 300px;
}



.p_sobre {
    display: flex;
    font-size: 22px;
    width: 800px;
    margin: 4rem;
    color: #fff;
}



@media screen and (max-width:1000px) {
    .sobreMim {
        width: 80%;
        color: #fff;

    }

    .fotoPerfil {
        width: 30%;
        border-radius: 80px;
        width: 200px;
        height: 200px;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.501);
        margin: 0 auto;
    }


    .p_sobre {
        font-weight: 500;
        font-size: 15px;
        color: #7a7a7a;
        margin-bottom: 15px;
        color: #fff;
    }

}

@media screen and (max-width:768px) {

    .h1_sobre {

        margin-bottom: 0px;
    }


    .sobreMim {
        flex-wrap: wrap;

    }



    .fotoPerfil {
        width: 100%;
        border-radius: 80px;
        width: 220px;
        height: 200px;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.501);
        margin: 0 auto;
    }

    .resumo {
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-top: 20px;
    }

    .p_sobre {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }

}